/*GENERAL*/
@keyframes fadeEfecto {
    from { opacity: 0; }
    to { opacity: 1; }
}
*{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #121212;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
p{
    size: 16px;
    letter-spacing: 0.1em;
    text-align: justify;
}
h2{
    font-size: 30px;
    letter-spacing: 0.1em;
    text-align: center;
}
h3{
    font-size: 24px;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 0;
}
h4{
    color:#F5F5F7;
    padding: 0;
}

.separador{
    width: 1120px;
    height: 1px;
    margin: 0 auto;
    background-color: #121212;
    display: block;
    border: none;
}

body{
    background-color: #121212
}
#pagina{
    width: 1366px;
    background-color: #FDB921;
    margin: 0 auto;
}

/*HEADER*/
header{
    width: 1366px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}
#dc{
    display: inline-block;
}
#dc span{
    display: block;
    font-size: 50px;
    color: #F5F5F7;
}
#dc1{
    letter-spacing: 0.4em;
}
#dc2{
    letter-spacing: 0.2em;
}
#now{
    color:#121212;
    font-size: 128px;
    font-weight: bold;
    display: inline-block;
}

/*NAV*/
nav{
    width: 1366px;
    height: 50px;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    overflow: hidden;
}
nav a{
    font-size: 30px;
    letter-spacing: 0.2em;
    padding: 10px 30px;
    transition: .5s;
}
nav a:hover{
    font-weight: bold;
    color: #F5F5F7;
    background-color: #121212;
}

/*MAIN*/
main{
    width: 1366px;
    margin: 0 auto;
    padding-top: 80px;
}

/**/

#autores{
    width: 1120px;
    height: 400px;
    margin: 0 auto;
    display: flex;
}
#autores-nombres{
    width: 280px;
    height: 400px;
}
#autores-nombres div{
    display: grid;
    align-content: center;
    width: 240px;
    height: 60px;
    text-align: center;
    margin: 30px auto;
    cursor: pointer;
}
#autores-nombres div:hover,
#autores-nombres div.activo{
    border-top: 1px solid #121212;
    border-bottom: 1px solid #121212;
}
#autores-nombres div:hover h3,
#autores-nombres div:hover h4,
#autores-nombres div.activo h3,
#autores-nombres div.activo h4{
    font-weight: bold;
}
.linea-vertical{
    height: 330px;
    width: 1px;
    background-color: #121212;
    margin: auto;
}
#autores-info{
    width: 839px;
    height: 400px;
}
.txt-info{
    height: 400px;
    width: 530px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.descripcion{
    width: 360px;
    height: 270px;
    margin: 0 auto;
}
.fecha{
    width: 380px;
    margin: 0 auto;
}
.contenido-info{
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.contenido-info.activo{
    display: flex;
    animation: fadeEfecto 0.8s forwards;

}
.contenido-info.activo img{
    height: 300px;
    width: 300px;
    margin-top: 50px;
}

/**/

#galeria{
    height: 651px;
    width: 1120px;
    margin: 0 auto;
}
#galeria nav{
    width: 1120px;
}
#galeria nav div{
    width: 250px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    display: grid;
    align-content: center;
}
#galeria nav div:hover,
#galeria nav div.activo{
    background-color: #121212;
    transition: .5s;
}
#galeria nav div:hover h3,
#galeria nav div.activo h3{
    color:#F5F5F7;
    font-weight: bold;
}
.galeria-img{
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.galeria-img.activo{
    height: 601px;
    width: 1120px;
    display: block;
    animation: fadeEfecto 0.4s forwards;
}

/**/

#libros{
    height: 300px;
    width: 1120px;
    margin: 0 auto;
    display: flex;
}
#libros-titulo{
    height: 300px;
    width: 300px;
    padding-top: 90px;
}
#libros-texto{
    height: 300px;
    width: 400px;
    padding-top: 60px;
}
#libros-texto p{
    height: 200px;
    width: 340px;
    margin: 0 auto;
}
#libros .linea-vertical{
    height: 230px;
}
#libros-botones{
    height: 300px;
    width: 420px;
    padding-top: 20px;
}
#libros-botones a{
    display: block;
    height: 80px;
    width: 200px;
    margin: 0 auto;
}
.btn-libro{
    height: 80px;
    width: 200px;
    border: 1px solid#121212;
    margin: 30px auto;
    transition: .5s;
}
.btn-libro p{
    text-align: center;
    margin-top: 30px;
}
.btn-libro:hover{
    background-color: #121212;
}
.btn-libro:hover p{
    color: #F5F5F7;
    font-weight: bold;
}

/**/

#museo{
    height: 350px;
    width: 1120px;
    margin: 0 auto;
    display: flex;
}
#museo-mapa{
    width: 360px;
    height: 350px;
    padding-top: 20px;
}
#mapa{
    width: 230px;
    margin: 0 auto;
}
#museo-mapa p{
    color: #F5F5F7;
    font-size: 12px;
    letter-spacing: 0;
    width: 230px;
    margin: 0 auto;
}

#museo-boletos{
    width: 400px;
    height: 350px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#museo-txt{
    width: 350px;
    height: 130px;
    margin: 0 auto;
}
#museo-boletos a{
    display: block;
    height: 80px;
    width: 200px;
    margin: 0 auto;
}
#museo-boletos div{
    height: 80px;
    width: 200px;
    border: 1px solid#121212;
    margin: 30px auto;
    transition: .5s;
}
#museo-boletos div p{
    text-align: center;
    margin-top: 30px;
}
#museo-boletos div:hover{
    background-color: #121212;
}
#museo-boletos div:hover p{
    color: #F5F5F7;
    font-weight: bold;
}

#museo-img{
    width: 360px;
    height: 350px;
    padding-top: 40px;
}
#museo-img div{
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

/*FOOTER*/

footer{
    height: 200px;
    width: 1366px;
    background-color: #121212;
    display: flex;
}
#footer-logo{
    width: 900px;
    height: 200px;
    text-align: center;
    padding: 30px;
}
#footer-logo #now{
    color: #F5F5F7;
}

#footer-links{
    width: 466px;
    height: 200px;
    display: flex;
    padding-top: 30px;
}
#footer-links-c1{
    width: 233px;
    height: 200px;
}
#footer-links-c2{
    width: 230px;
    height: 200px;
}
#footer-links h3{
    margin-top: 30px;
    color: #F5F5F7;
}
#footer-links a:hover h3{
    font-weight: bold;
}